
html, body {
    /* overflow: hidden; */
    width   : 100%;
    height  : 100%;
    margin  : 0;
    padding : 0;
    background-color: #181A1B;
}

p {
    text-align: center;
    color: white;
}

span {
    text-align: center;
    color: white;
}

#header {
    width: 100%;
    margin-bottom: 5px;
}

#selectSession {
    width: 100px;
    display: block;
}

#selectVideo {
    width: 400px;
    display: block;
}

.selectVideoContainer {
    margin: 0 auto;
    display: block;
    width: 500px;
}

#renderCanvas {
    width   : 70%;
    height  : 40%;
    max-width: 440px;
    max-height: 440px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    touch-action: none;
}
#fps {
    position: absolute;
    background-color: black;
    border: 2px solid red;
    text-align: center;
    font-size: 16px;
    color: white;
    top: 15px;
    right: 10px;
    width: 60px;
    height: 20px;
}
video {
    height: 200px;
    top: 0;
    left: 0;
    display: inline;
}
#vidlist {
    display: block;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 95%;
    text-align: center;
}
.buttons {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    text-align: center;
    margin-bottom: 4px;
}
.vid {
    position: absolute;
    top: 0;
    left: 0;
}
.canvas {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}
.container {
    width: 300px;
    height: 300px;
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;
}

#play {
    width: 50px;
}

button {
    background-color: #ccc;
    border: 0;
    margin-top: 0;
    margin-bottom: 0;
    height: 20px;
    border-radius: 2px;
}

button:hover {
    background-color: #ddd;
}

progress[value]  {
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: 200px;
    height: 15px;

    background-color: #ddd;
    border-radius: 2px;
    padding: 0;
    /* margin-top: 5px; */
    /* margin-bottom: 5px; */

    /* remove border in Firefox */
    border: 2px solid #777;

    /* /\* IE *\/ */
    /* color: #777; */
}

/* Chrome */
progress[value]::-webkit-progress-bar {
    background-color: #ddd;
         border-radius: 2px;
}

progress[value]::-webkit-progress-value {
    background-color: #777;
}

/* Firefox */
progress[value]::-moz-progress-bar {
    background-color: #777;
}
